<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head ('Update group')"></head>

<body>
	<header th:insert="blocks/header :: header" />

	<div class="container">
		<div style="width:600px;margin-left: auto;margin-right: auto;margin-top:24px;padding: 24px;">
			<div class="card">
				<div class="card-header">
					<i class="fa fa-user"></i> Update group
				</div>
				<div class="card-block" style="padding: 24px;">
					<form action="/group/edit" th:object="${group}" method="post">
						<input type="text" name="id" id="name" th:value="${group.id}" hidden />
						<div class="form-group">
							<label for="name">Name</label>
							<input type="text" class="form-control" th:value="${group.name}" id="name" name="name" placeholder="Name">
						</div>
						<div class="form-actions">
							<button type="submit" class="btn btn-success">Update</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="fragments/common :: footer"></footer>

</body>

</html>

