<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head th:replace="fragments/common :: head ('Edit profile')"></head>

<body>
	<header th:insert="blocks/header :: header" />
	<div class="container mt-5">
		<form th:object="${form}" th:action="${'/pass/' + quiz}" method="post">
			<div>
				<h2 th:text="${quiz.getName()}"></h2>
				<h6 class=" badge badge-dark">#<span th:text="${quiz.tag}"></span></h6>
				<p><strong>Description: </strong><span th:text="${quiz.text}"></span></p>
			</div>

			<div class="bg-light col-8 m-3" th:each="question : ${quiz.getQuestions()}">
				<div class="m-2"><strong>Question: </strong>
					<span th:text="${question.text}"></span>
				</div>
				<div class="radio" th:object="${questionDTO}" th:each="option,i: ${question.options.entrySet()}">
					<input type="radio" th:name="${question.getId()}" th:value="${option.getKey()}"
						th:text="${option.getValue()}">
				</div>
			</div>
			<button type="submit" class="btn btn-dark">Pass</button>

		</form>
	</div>
	<footer th:replace="fragments/common :: footer"></footer>
</body>
<script>
	$(document).ready(function () {
		var counter = 1;
		$("#addrow").on("click", function () {
			var newRow = $("<tr>");
			var cols = "";
			cols += '<td><input type="radio" name="answerNumber" value="' + counter + '"><input type="text" class="form-control" name="options[' + counter + ']"/></td>';
			cols += '<td><input type="button" class="ibtnDel btn btn-md btn-danger "  value="Delete"></td>';
			newRow.append(cols);
			$("table.order-list").append(newRow);
			counter++;
		});
		$("table.order-list").on("click", ".ibtnDel", function (event) {
			$(this).closest("tr").remove();
			counter -= 1
		});
	});
</script>

</html>
